body {
    font-family: 'Arial', sans-serif;
    background-color: #f1e9e9;
    color: #333;
}

header {
    background-color: #fddfdf; /* Цвет шапки */
    padding: 10px 0;
    color: #333;
}

.navbar-brand {
    color: #333 !important; /* Цвет текста в шапке */
}

.nav-link {
    color: #333 !important; /* Цвет ссылок в шапке */
}

.jumbotron {
    background-color: #ddc3c3; /* Цвет фона на главной странице */
    color: white;
}

.card {
    border: none; /* Убираем рамку у карточек */
}

.card-img-top {
    height: 200px; /* Высота изображений в портфолио */
    object-fit: cover; /* Обрезка изображений */
}

footer {
    background-color: #f1e9e9; /* Цвет подвала */
    color: #3f3f3f;
    padding: 20px 0;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1000; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку при необходимости */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.9); /* Черный фон с прозрачностью */
}

.modal img {
    margin: auto;
    display: block;
    width: auto;
    height: 80%; /* Высота изображения */
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.btn-primary {
    background-color: rgb(247, 182, 162);
    border-color: #ddc3c3;
}

.btn-primary:hover {
    background-color: #d1b1b1;
    border-color: #7a6c6c;
}